*.jpg
*.jpeg
*.weights
*.h5
*.pyc
*.pkl
/logs
config_portoalegre_test.json
comandos.txt
config_canoas_1.json
config_canoas_portoalegre.json
config_canoas_test.json
config_portoalegre_1.json
config_portoalegre_canoas.json
logs - Copia/canoas_1/events.out.tfevents.1559083116.DESKTOP-KABRAU
config_pseudo_canoas.json
config_pseudo_portoalegre.json
config_pseudo_portoalegre_test.json
logs - Copia/PortoAlegre_1/events.out.tfevents.1559128795.DESKTOP-KABRAU
